.footer {
  background-color: rgb(251, 255, 253);
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #ccc;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer .social-media {
  margin-bottom: 15px;
}

.footer .social-media a {
  margin: 0 10px;
  color: rgb(24, 168, 98);
  transition: color 0.3s;
}

.footer .social-media a:hover {
  color: rgb(5, 56, 5);
}

.footer p {
  color: rgb(24, 168, 98);
  margin: 0;
}
