

.home {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(253, 253, 253);
}

.hero {
  background: url('https://img.freepik.com/premium-vector/online-transfer-money-by-using-smartphone-concept-cashless-payment-hands-hold-phone-transactions-vector-illustration_185038-582.jpg?w=2000') no-repeat center center/cover;
  color: rgb(11, 10, 10);
  padding: 50px 0;
  text-align: center;
}

.hero-text {
  background: rgba(221, 223, 231, 0.225);
  display: inline-block;
  padding: 20px;
}

.exchange-rate-form-section {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
  background-color: whitesmoke;
}

.exchange-rate-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.exchange-rate-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(248, 243, 243, 0.1);
  margin: 0 20px;
  object-fit: cover;
  object-position: center;
  padding-right: 10px;
  -webkit-user-drag: none;
}

.exchange-rate-right {
  flex: 1;
  padding: 20px;
  background-color:goldenrod;
  border-radius: 8px;
  color: #000;
  text-align: center;
  
}


.exchange-rate-form .form-group {
  margin-bottom: 15px;
  border-radius: 0px;
  margin: auto;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.exchange-rate-form label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-color);
  font: bold;
  font: 1em sans-serif;
  color: #000;
}

.exchange-rate-form input,
.exchange-rate-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 16px;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  background-color: rgba(21, 131, 112, 0.513)
}

.info-box {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
}

.countries-section {
  padding: 50px 20px;
  text-align: center;
 
}

.countries-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.country-box {
  flex: 1 0 30%;
  margin: 10px;
  padding: 20px;
  background-color: goldenrod;
  color: #000;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  font-size: medium;
}

.country-box:hover {
  background-color: rgb(5, 56, 5);
}

.country-flag {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.see-all-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: goldenrod;
  color:white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.see-all-button:hover {
  background-color: rgb(5, 56, 5);
}

@media (max-width: 768px) {
  .exchange-rate-form-section {
    flex-direction: column;
    align-items: center;
  }

  .exchange-rate-left, .exchange-rate-right {
    width: 100%;
  }

  .countries-grid {
    flex-direction: column;
  }

  .country-box {
    width: 100%;
  }

  .see-all-button {
    margin-top: 10px;
  }
  
}









